<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : 'book-cover' %>

<div class="book-grid <%= bookGridClass %>">
    <% books.forEach(book => {  %>
        <a href="/books/<%= book.id %>" class="">
            <img class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>" alt="">
        </a>
    <% }) %>
</div>

